<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>{# Block titre #}
    {% block stylesheets %}{# Blocks pour les style #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap" rel="stylesheet">
        <style>body{font-family: 'Lexend', sans-serif;}</style>
    {% endblock %}
</head>
<body>
    {# Barre de navigation #}
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary p-3 mb-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-light" href="{{ path('article_index') }}">Accueil</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{{ path('article_show', {'id': 1}) }}">Détails de l’article 1</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{{ path('article_edit', {'id': 1}) }}">Edition de l’article 1</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{{ path('article_new') }}">Ajout d’un article</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{{ path('category_index') }}">Listing des catégories</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{{ path('category_show', {'id': 1}) }}">Détails de la catégorie 1</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{{ path('category_edit', {'id': 1}) }}">Edition de la catégorie 1</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{{ path('category_new') }}">Ajout d’une catégorie</a></li>
            </ul>
        </div>
    </nav>

    {% block body %}{% endblock %}
    
    {% block javascripts %}{# Blocks pour les scripts javascripts #}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
</body>
</html>
